.feedback {
  background: url("../img/background_feedback.png") no-repeat, url("../img/triangle_feedback.svg") no-repeat, url("../img/triangle_feedback_left.svg") no-repeat;
  background-color: $light-blue;
  background-position: 175px -60px, 1577px 287px, 1642px 42px;
  color: $white;

  @media (min-resolution: 2dppx) {
    background: url("../img/background_feedback@2x.png") no-repeat, url("../img/triangle_feedback.svg") no-repeat, url("../img/triangle_feedback_left.svg") no-repeat;
    background-color: $light-blue;
    background-size: 686px, auto, auto;
    background-position: 175px -60px, 1577px 287px, 1642px 42px;
  }

  @media (max-width: 1740px) {
    background-size: 500px, auto, auto;
    background-position: 175px 40px, 1577px 287px, 1642px 42px;
  }

  @media (max-width: 1360px) {
    background-size: 500px, auto, auto;
    background-position: 100px 40px, 1577px 287px, 1642px 42px;
  }

  @media (max-width: 1275px) {
    background-size: 500px, auto, auto;
    background-position: 100px 40px, 1577px 287px, 1642px 42px;
  }

  @media (max-width: 1187px) {
    background-size: 500px, auto, auto;
    background-position: 0 40px, 1577px 287px, 1642px 42px;
  }

  @media (max-width: 1160px) {
    background-size: 350px, auto, auto;
    background-position: 50px 90px, 1577px 287px, 1642px 42px;
  }

  @media (max-width: $tablet) {
    background: $light-blue;
  }
}

.feedback h2 {
  font-size: 36px;
  line-height: 51px;
  padding-top: 90px;
  font-weight: 400;

  @media (min-width: 1921px) {
    margin: 0 0 0 975px;
  }

  @media (max-width: 1920px) {
    margin: 0 0 0 50.57%;
  }

  @media (max-width: 1187px) {
    margin-left: 42%;
  }

  @media (max-width: $tablet) {
    margin-left: 20%;
    font-size: 32px;
    line-height: 45px;
    padding-top: 80px;
  }

  @media (max-width: 800px) {
    margin-left: 11.5%;
  }

  @media (max-width: $mobile) {
    font-size: 28px;
    line-height: 39px;
    padding-top: 30px;
    text-align: center;
  }

  @media (max-width: 400px) {
    margin-left: 15px;
    text-align: left;
  }
}

.feedback p {
  font-family: "PT Mono", "Courier New", monospace;
  margin-top: 10px;

  @media (min-width: 1921px) {
    margin-left: 975px;
  }

  @media (max-width: 1920px) {
    margin-left: 50.75%;
  }

  @media (max-width: 1187px) {
    margin-left: 42%;
  }

  @media (max-width: $tablet) {
    margin-left: 20%;
    margin-top: 16px;
  }

  @media (max-width: 800px) {
    margin-left: 12%;
  }

  @media (max-width: $mobile) {
    text-align: center;
    margin-top: 13px;
  }

  @media (max-width: 400px) {
    margin-left: 15px;
    text-align: left;
  }
}
