.information {
  background: url("../img/triangle.svg") no-repeat, url("../img/triangle_big.svg") no-repeat, url("../img/triangle_big_left.svg") no-repeat;
  background-position: 1557px 285px, 560px 36px, 0 330px;
  background-size: auto, 872px, 580px;

  @media (max-width: $tablet) {
    background: url("../img/triangle_big.svg") no-repeat;
    background-position: 210px 34px;
    background-size: auto;
  }

  @media (max-width: $mobile) {
    background-position: -120px 615px;
  }
}

.information ul {
  @include list-reset;

  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  row-gap: 30px;
  margin: 112px 0 0 375px;
  max-width: 1170px;
  padding-bottom: 72px;

  @media (max-width: 1800px) {
    margin-left: 19.5%;
  }

  @media (max-width: 1650px) {
    margin-left: 15%;
  }

  @media (max-width: 1460px) {
    margin-left: 10%;
  }

  @media (max-width: 1350px) {
    margin-left: 5%;
    padding-bottom: 22px;
  }

  @media (max-width: 1270px) {
    margin-left: 2.5%;
    column-gap: 20px;
    grid-template-columns: 470px 470px;
  }

  @media (max-width: $tablet) {
    width: 720px;
    column-gap: 30px;
    grid-template-columns: 345px 345px;
    margin-top: 55px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile) {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 36px;
    row-gap: 0;
    padding-bottom: 0;
  }
}

.information li {
  background-color: $white;
  width: 570px;
  border: 1px solid $grey;
  border-left: 3px solid $light-blue;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: $light-blue;
    border: 1px solid $light-blue;
    border-left: 3px solid $light-blue;
  }

  @media (max-width: 1270px) {
    width: 470px;
  }

  @media (max-width: $tablet) {
    width: 345px;
  }

  @media (max-width: $mobile) {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  @media (max-width: 370px) {
    width: 290px;
  }
}

.information h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: $light-blue;
  margin: 12px 0 0 40px;

  @media (max-width: $tablet) {
    margin: 2px 0 0 23px;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
    line-height: 28px;
    margin-top: 7px;
  }
}

.information p {
  max-width: 482px;
  margin-left: 40px;
  font-family: "PT Mono", "Courier New", monospace;
  color: $dark-grey;
  margin-bottom: 66px;

  @media (max-width: $tablet) {
    margin: 7px 0 20px 24px;
    max-width: 290px;
  }

  @media (max-width: $mobile) {
    margin: 10px 0 20px 22px;
    max-width: 95%;
  }

  @media (max-width: 370px) {
    max-width: 249px;
  }
}

.information li:nth-of-type(4n-2) {
  @media (max-width: $mobile) {
    > p {
      max-width: 95%;
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 370px) {
    > p {
      max-width: 260px;
      margin-top: 5px;
      margin-bottom: 30px;
    }
  }
}

.information li:nth-of-type(4n-1) {
  padding-bottom: 48px;

  @media (max-width: $tablet) {
    padding-bottom: 30px;

    > p {
      margin-top: 20px;
    }
  }

  @media (max-width: $mobile) {
    padding-bottom: 35px;

    > p {
      margin-top: 16px;
    }

    > svg {
      width: 30px;
      height: 26px;
    }
  }
}

.information li:not(:first-of-type) {
  @media (max-width: $mobile) {
    margin-top: -7px;
    margin-bottom: 30px;
  }
}

.information svg {
  margin-top: 41px;
  margin-left: 45px;
  fill: $light-blue;

  @media (max-width: $tablet) {
    margin-top: 20px;
    margin-left: 22px;
  }

  @media (max-width: $tablet) {
    margin-top: 23px;
  }
}

.information li:hover > svg,
.information li:focus > svg {
  fill: $white;
}

.information li:hover > h3,
.information li:hover > p,
.information li:focus > h3,
.information li:focus > p {
  color: $white;
}

.information__additional {
  position: relative;
  padding-bottom: 81px;

  &::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 317px;
    background: url("../img/year.png") no-repeat;
    left: -209px;
    top: 6px;

    @media (min-resolution: 2dppx) {
      background: url("../img/year@2x.png");
    }
  }

  @media (min-width: 1921px) {
    margin-left: 555px;
  }

  @media (max-width: 1920px) {
    margin-left: 29.1%;
  }

  @media (max-width: 1650px) {
    margin-left: 30%;
  }

  @media (max-width: 1430px) {
    margin-left: 25%;
  }

  @media (max-width: 1330px) {
    margin-left: 20%;
  }

  @media (max-width: $tablet) {
    margin-left: 32.35%;
    padding-bottom: 57px;

    &::before {
      width: 251px;
      height: 362px;
      background: url("../img/year_tablet.png") no-repeat;
      left: -209px;
      top: -2px;

      @media (min-resolution: 2dppx) {
        background: url("../img/year_tablet@2x.png");
      }
    }
  }

  @media (max-width: 850px) {
    margin-left: 27.35%;
  }

  @media (max-width: $mobile) {
    margin-left: 4%;

    &::before {
      display: none;
    }
  }
}

.information__additional h2 {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: $dark-grey;
  margin-bottom: 22px;

  @media (max-width: $tablet) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 24px;
  }

  @media (max-width: $mobile) {
    font-size: 28px;
    line-height: 39px;
    margin-top: 26px;
    margin-bottom: 10px;
  }
}

.information__additional p {
  margin-left: 0;
  max-width: 984px;
  margin-bottom: 20px;

  @media (max-width: 1164px) {
    width: 750px;
  }

  @media (max-width: $tablet) {
    max-width: 532px;
  }

  @media (max-width: $mobile) {
    width: 90%;
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: 40px;
  }

  @media (max-width: 360px) {
    width: 290px;
  }
}

.information__additional span:first-of-type {
  @media (max-width: $tablet) {
    display: none;
  }
}

.information__additional span:last-of-type {
  display: none;

  @media (max-width: $tablet) {
    display: inline;
  }
}

.information__additional button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background-color: $white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $light-blue;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 20px;
  width: 180px;
  height: 45px;
  border: 1px solid $light-blue;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover,
  &:focus {
    border: 1px solid $gold;
    color: $dark-blue;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $mobile) {
    margin-top: -10px;
    margin-left: 3px;
  }
}
