.page-footer {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 70px;
  margin-top: 65px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 200px;
    left: 0;
    height: 1px;
    background-color: $grey-alpha;
  }

  @media (max-width: $tablet) {
    grid-template-rows: auto auto auto;
    margin-top: 20px;
    row-gap: 63px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $grey-alpha;
      top: 76px;
      left: 0;
    }

    &::after {
      top: 367px;
      left: 0;
    }
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    row-gap: 40px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.page-footer h1 {
  @include visually-hidden;
}

.page-footer__additional {
  @include list-reset;

  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 253px;
  margin-right: 254px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 13px;
  line-height: 24px;
  color: $dark-blue;
  font-family: "PT Mono", "Courier New", monospace;

  @media (max-width: 1500px) {
    margin-left: 10%;
    margin-right: 10%;
  }

  @media (max-width: 1280px) {
    margin-left: 5%;
    margin-right: 5%;
  }

  @media (max-width: 1100px) {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    margin: -28px 3.25% 15px 3.25%;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    margin: -55px 0 0 0;
  }
}

.page-footer__additional li {
  margin-top: 0;
  opacity: 0.5;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }
}

.page-footer__additional li:first-of-type {
  @media (max-width: $tablet) {
    display: none;
  }
}

.page-footer__additional li:nth-of-type(4n-2) {
  margin-left: -128px;

  @media (max-width: 1700px) {
    margin-left: 0;
  }

  @media (max-width: $tablet) {
    text-align: right;
  }
}

// Сделал так ибо нужно переместить один конкретный элемент
.page-footer__additional li:nth-of-type(2) {
  @media (max-width: $tablet) {
    text-align: left;
    transform: translate(39.45vw, -351px);
  }

  @media (max-width: $mobile) {
    text-align: center;
    transform: translate(0, -360px);
  }
}

.page-footer__additional li:nth-of-type(4n-1) {
  margin-left: -108px;

  @media (max-width: 1700px) {
    margin-left: 0;
  }

  @media (max-width: $tablet) {
    grid-column: 1/2;
  }

  @media (max-width: $mobile) {
    text-align: center;
  }
}

.page-footer__additional li:nth-of-type(4n) {
  text-align: right;

  @media (max-width: $mobile) {
    text-align: center;
  }
}

.page-footer__additional a {
  text-decoration: none;
  color: $dark-blue;

  &:hover,
  &:focus {
    color: $black;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer--nojs .page-footer__additional > li:nth-of-type(2) {
  @media (max-width: $mobile) {
    transform: translateY(-527px);
  }
}

.page-footer--closed .page-footer__additional > li:nth-of-type(2) {
  @media (max-width: $mobile) {
    transform: translateY(-422px);
  }
}

.page-footer--opened .page-footer__additional > li:nth-of-type(2) {
  @media (max-width: $mobile) {
    transform: translateY(-461px);
  }
}
