.page-header {
  background: url("../img/background_additional.png") no-repeat, url("../img/background.png") no-repeat;
  background-position: 1030px 118px, center;
  background-color: $dark-blue;
  background-size: auto, cover;
}
