.popup {
  background-color: $light-blue;
  width: 450px;
  position: fixed;
  margin-left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  margin-top: 136px;
  padding-left: 40px;
  padding-bottom: 38px;
  z-index: 20;

  @media (max-width: $tablet) {
    display: none;
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: flex;
    flex-direction: column;
  }

  @media (max-height: 740px) {
    margin-top: 50px;
  }

  @media (max-height: 650px) {
    margin-top: 40px;
    height: 550px;
  }

  @media (max-height: 630px) {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media (max-height: 500px) {
    height: 350px;
  }

  @media (max-height: 400px) {
    height: 300px;
  }

  @media (max-height: 350px) {
    height: 200px;
  }

  @media (max-height: 200px) {
    margin-top: 10px;
    height: 150px;
  }
}

.popup h2 {
  color: $white;
  font-size: 28px;
  line-height: 39px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 0;
}

.popup p {
  max-width: 380px;
  font-family: "PT Mono", "Courier New", monospace;
  color: $white;
  font-size: 16px;
  line-height: 22px;
  margin-top: 12px;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 433px;
  width: 17px;
  height: 17px;
  background: url("../img/close.svg") no-repeat;
  background-position: center center;
  cursor: pointer;
  border: none;
  padding: 30px;
}
