$tablet: 1023px;
$mobile: 767px;

$dark-blue: #1b2d37;
$white: #ffffff;
$light-blue: #00b2ff;
$grey: #ebebeb;
$dark-grey: #666666;
$bg-grey: rgba(196, 196, 196, 0.2);
$gold: #ffd700;
$icon-grey: #cdcdcd;
$black: #000000;
